
h1{
	text-align: center;
}

a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid blue;
  transition: all 0.3s ease;
}

a:hover {
  color: white;
  background-color: blue;
}
